<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  <title>{{title}}</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="../../index.html" style="">К списку статей</a>
  </nav>
  <div class="container lead" style="margin-top: 100px; margin-left: 25px;">
    {{content}}
  </div>
</body>
</html>